.fotos {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 15px;
    img {
        width: 800px;
        color: gray;
        margin-right: 10px;
        margin-bottom: 10px;
        transition: 0.4s;
        img:hover{
            border: 5px white double;
            transform: scale(1.1);
}
    }
}

.carousel {
    display: none;
}

.carousel-inner {
    width: auto;
    margin: auto;
    height: auto;

img {
    border: 5px white double;
    width: auto;
    margin: auto;
   
}
}


@media only  screen and (min-width:1024px){
    .carousel {
        display: block;
    }
}