header{
    line-height: 20px;
    text-align: center;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 3fr 1fr;
    grid-template-areas: "titulo" "navegador";
    align-items: center;
    
    .titulo{
        grid-area: titulo;
     a{
        font-size: 300%;
        font-family: nite;
        text-decoration: none;
        color: white;}

.lalogo{
            grid-area: imagen;
            align-self: center;
            width: 25vw;
            transition: 0.7s;
            filter: invert(100%);
           }
        }
    

    .logo{
        grid-area:titulo;
        width: 100px;
        margin: 20px;
        justify-self: start;
        align-items: start;
        }
   


.navHeader{
    grid-area: navegador;
     ul{
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        li{
            margin-left: 10px;
            margin-right: 10px;
             a{
                margin-left: 10px;
                margin-right: 10px;
                color: white;
            }
    }
    }
}
}
