.parrafo-sinopsis { /* parrafo sinopsis*/
    text-align: center;
    text-decoration: none;
}

.trailer {
    iframe {
        
    margin: auto;
    display: flex;
    flex-flow: row wrap;    
    justify-content: space-around;
}
}

.Presentacion {
    display: block;
    margin: auto;
}
